// Start Blog Page

.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
  img {
    width: 100%;
  }
  h2 {
    color: #222;
    font-weight: 600;
    margin: 30px auto;
  }
  p {
    color: #999;
    padding: 0;
  }
}

.blog-right {
  flex-basis: 32%;
  h3 {
    background-color: $main-color;
    color: $font-color;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
  }
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
  h3 {
    text-align: left;
  }
}

%place-form {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #f0f0f0;
}
.comment-form {
  input {
    @extend %place-form;
  }
}
.comment-form {
  textarea {
    @extend %place-form;
  }
}

.comment-form {
  button {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .sub-header {
    h1 {
      font-size: 24px;
    }
  }
}

// End Blog Page
