/*
Start Global Rules
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

textarea {
  resize: none;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(media/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: $font-color;
  h1 {
    margin: 70px auto;
  }
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    border: 1px solid $main-color;
    background: $main-color;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
  }
}

/*
End Global Rules 
---------------------------------------
*/
